---
import { Icon } from "astro-icon/components";
---

<section id="about" class="mx-auto max-w-2xl w-full p-4 border-b border-gray-300">
    <div class="flex items-center">
        <Icon name="user" class="text-xl text-gray-500 mr-2" />
        <h2 class="text-xl">Sobre</h2>
      </div>
    <div class="flex flex-col items-center py-4">
      <span class="text-gray-500">Engenheiro de software com mais de 2 anos de experiência. Trabalhei em startups inovadoras, produtos de grandes empresas e agências premiadas. Familiarizado com funções tanto remotas quanto presenciais. Sempre busca assumir a responsabilidade pelo projeto e entregar mais rápido do que o esperado. Confortável com desenvolvimento web, mobile e de APIs.</span>
    </div>
</section>